<div class="container">
  <div *ngIf="condition">
    {{qualquerNome}}
  </div>
<main class="form-login">
  <form  [formGroup]="formEstudos" (ngSubmit)="onSubmit()">
    <img class="mb-3" src="assets/img/logo.png" width="310" alt="">
    <h1 class="h3 fw-normal">Login</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="email" formControlName="email"  placeholder="name@example.com">
      <label for="email">Endereço de email</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="senha" formControlName="senha" placeholder="Senha">
      <label for="senha">Senha</label>
    </div>


    <button class="w-100 btn btn-lg btn-primary" type="submit">Entrar</button>
    <p class="mt-5 mb-3 text-muted">© 2017–2021</p>
  </form>
</main>
</div>
