<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <h2>Titulo do projeto</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Código</th>
              <th>Nome Completo</th>
              <th>Severidade</th>

            </tr>
          </thead>
          <tbody>
            <tr class="line">
              <td>#</td>
              <td data-bs-toggle="collapse" class="accordion-button collapsed" data-bs-target="#flush-collapseOne">caminho-para-abrir-o-arquivo</td>
              <td>#</td>
            </tr>
          </tbody>
        </table>
      </div>




    <div class="accordion accordion-flush" id="acordeon">
      <div class="accordion-item">
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#acordeon">
          <div class="accordion-body">Demonstração de acordeon aberto <code>.accordion-flush</code>aqui.</div>
        </div>
      </div>
    </div>
  </main>
